{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#"> ELAAMRA </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01" style="float: left">

            {% if app.user %}
                <a href="{{ path("logout") }}">
                    <button class="btn btn-secondary my-2 my-sm-0 mr-2">Logout</button>
                </a>
            {% else %}
                <a href="{{ path("login") }}">
                    <button class="btn btn-secondary my-2 my-sm-0 mr-2">Login</button>
                </a>
            {% endif %}

        </div>
    </nav>
{% endblock %}
{% block body %}
    <div class="container-fluid mt-lg-5" style="max-width: 500px">
        {{ form_start(form) }}
        {{ form_row(form.name,{'attr':{'class':"form-control"}}) }}
        {{ form_row(form.email,{'attr':{'class':"form-control"}}) }}
        {{ form_row(form.password,{'attr':{'class':"form-control"}}) }}
        {{ form_row(form.confirmPassword,{'attr':{'class':"form-control"}}) }}
        <button type="submit" class="btn btn-success">S'inscrire</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
